@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bulma/css/bulma.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #404040;
  --secondary-bg: #202020;
  --color: #fefefe;
  --light-orange-primary: orange;
  --orange-primary: darkorange;
  --dark-orange-primary: chocolate;
  --transition: 200ms;
}

/* @media (prefers-color-scheme: dark) {

} */

body {
  background-color: var(--background);
  color: var(--color);
  min-height: 100vh;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
strong,
.label {
  color: var(--color);
}

.footer {
  background-color: var(--secondary-bg);
}

.navbar,
.hero .navbar,
.navbar-menu {
  background-color: var(--secondary-bg);
}

.input,
.textarea {
  color: var(--color);
  background-color: var(--secondary-bg);
}

.input::placeholder,
.textarea::placeholder {
  color: lightgrey;
}

.input:focus,
.textarea:focus {
  border-color: var(--light-orange-primary);
}

.button {
  color: var(--color);
}

.pagination-link {
  background-color: var(--light-orange-primary);
  border-color: var(--light-orange-primary);
  color: var(--color);
}

.pagination-link:hover {
  background-color: var(--dark-orange-primary) !important;
  border-color: var(--dark-orange-primary) !important;
  transition: var(--transition);
}

.pagination-link.is-current {
  background-color: var(--orange-primary);
  border-color: var(--orange-primary);
}

.pagination-previous, .pagination-next {
  background-color: white;
}

.pagination-previous:hover, .pagination-next:hover {
  background-color: var(--light-orange-primary);
  color: var(--color);
  transition: var(--transition);
}
